
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        a{
            margin-left:10px;
        }
    </style>
</head>
<body>
    <div> 
        <h1 style="text-align:center;">Welcome to ASP.net MVC5 Tutorial</h1>
        <hr />
        <div style="text-align:center;">
            <a href="~/Views/Home/Index.cshtml">Home</a>
            <a href="~/Views/Home/Aboutus.cshtml">About</a>
            <a href="~/Views/Home/Contactus.cshtml">Contact</a>
            <a href="~/Views/Home/Blogs.cshtml">Blogs</a>
        </div>
    </div>
</body>
</html>
